/* Typography */

// Font Roboto
$OSLight      : 'OpenSansLight'
$OSRegular    : 'OpenSansRegular'
$OSBold       : 'OpenSansBold'

/* Colors */
$green        : #3ecf8e
$darkblue     : #344665
$blue         : #6c9afd
$red          : #ef767a

/* Media Queries */

// Device type
$mobile       : '(min-width: 320px) and (max-width: 767px)'
$sm-tablet    : '(min-width: 768px) and (max-width: 1023px)'
$lg-tablet    : '(min-width: 1024px) and (max-width: 1200px)'
$desktop      : '(min-width: 1201px) and (max-width: 1300px)'
$extra        : '(min-width: 1300px)'

// Example Using
   @media #{$mobile}
      .example
        color: #FFF

// Orientation
$landscape    : 'orientation: landscape'
$portrait     : 'orientation: portrait'